:root {
  --sidenav-width: 170px;
  --disclaimer-height: 50px;
  --main-margin-bottom: 20px;
}

h1 {
  font-size: 50px;
}

#chartViewer {
  width: 100%;
  height: calc(100vh - var(--main-margin-bottom));
  border: 0;
  transform: rotate(0deg);
}

/* Content Button CSS */
.ContentBtn:link,
.ContentBtn:visited {
  background-color: #4b4b4b;
  color: white;
  padding: 16px;
  text-align: left;
  text-decoration: none;
  display: flex;
  border-radius: 10px;
  margin-top: 5px;
}

.ContentBtn:hover {
  background-color: rgb(0, 0, 0);
}



/* CSS for Sidenav */
body {
  font-family: arial;
  font-size: 20px;
}

.main {
  margin-left: var(--sidenav-width);
  /* Same as the width of the sidenav */
  padding-left: 10px;
}

#HomePicture {
  padding: 0;
  margin-left: 15px;
  margin-top: 10px;
  background-color: black;
}

#HomePicture a:hover {
  background-color: black;
}


.sidenav {
  height: 100vw;
  width: var(--sidenav-width);
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  padding: 0px;
  background-color: black;
  overflow-x: hidden;
  padding-top: 10px;
  border-radius: 0 10px 0 0;
}

.sidenav a {
  padding: 5px 20px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  border-radius: 0 10px 10px 0;
}

.sidenav a:hover {
  color: white;
  background-color: #252525;
}

.sidenavDisclaimer {
  padding-left: 5px !important;
  display: block !important;
  padding: 5px 5px !important;
}
.sidenavDisclaimer a {
  font-size: 15px !important;
  color: green !important;
  padding: 0;
  
}
.sidenavDisclaimer p {
  font-size: 15px !important;
  color: white !important;
  padding: 0;
}



.rotationButtonAssembly {
  padding: 0;
  display: flex;
}

.rotationButton {
  position: flex;
  width: 40px;
  height: 40px;
}

select {
  background-color: #4b4b4b;
  color: black;
  padding: 10px 20px;
  margin: 5px 0;
  font-size: 20px;
  border: none;
  width: var(--sidenav-width);
  border-radius: 0 10px 10px 0;
}